:root {
  --first-font-family: "Arima Madurai", cursive;
  --second-font-family: "Poppins", sans-serif;
  --first-color: aliceblue;
  --text-align: center;
  --second-color: #a3126e;
  --transition: all 0.2s ease-in-out;
  --transform: scale(1.1);
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--first-color);
}
h2,
h3,
h4 {
  font-family: var(--second-font-family);
  font-weight: 400;
}

h1 {
  font-family: var(--first-font-family);
  font-weight: bolder;
  font-size: 96px;
}
h2 {
  padding: 80px 0 5px;
  margin-top: 60px;
  font-size: 25px;
}
h3 {
  font-weight: 5px;
  color: var(--first-color);
  font-size: 24px;
}

p {
  font-family: var(--second-font-family);
  font-weight: 300;
  line-height: 30px;
  opacity: 0.9;
}

.title {
  font-family: var(--second-font-family);
  font-size: 40px;
}
.icon-color {
  color: var(--second-color);
  font-size: 40px;
}
.contact {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background: white;
  box-shadow: 5px 5px 5px rgb(193, 188, 188);
}
.contact i {
  transition: var(--transition);
  margin: 5px;
}
.contact i:hover {
  transform: scale(1.5);
}
.container-page {
  margin-top: 0px;
  background: #e5e5e5;
}

.title-projects {
  color: black;
  font-family: var(--first-font-family);
  text-align: center;
  font-size: 50px;
  padding: 35px 20px;
}
.sorce-code {
  font-family: var(--second-font-family);
  text-align: center;
  padding: 15px 20px;
}

button {
  font-family: var(--second-font-family);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--second-color);
  border-radius: 25px;
  padding: 6px;
  background: var(--first-color);
  color: var(--second-color);
  padding: 15px 25px;
  margin-left: 55px;
  font-size: 25px;
}
button:hover {
  color: var(--first-color);
  background: var(--second-color);
  transform: scale(1.1);
}
img {
  transition: var(--transform);
}
img:hover {
  transform: var(--transform);
}
a {
  text-decoration: none;
}
.fist-page {
  z-index: 1;
  background-image: linear-gradient(
    -25deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );

  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 5s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
