:root {
  --first-font-family: "Arima Madurai", cursive;
  --second-font-family: "Poppins", sans-serif;
  --first-color: white;
  --text-align: center;
  --second-color: #a3126e;
  --third-color: #01bbda;
  --primary-color: #9974ba;
  --transition: all 0.2s ease-in-out;
  --transform: scale(1.1);
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--first-color);
}
h2,
h3,
h4,
contact-title {
  font-family: var(--second-font-family);
  font-weight: 400;
}
h1,
title-projects {
  font-family: var(--first-font-family);
}

h1 {
  font-weight: bolder;
  font-size: 96px;
}
h2 {
  padding: 80px 0 5px;
  margin-top: 60px;
  font-size: 25px;
}
h3 {
  font-weight: 5px;
  color: var(--first-color);
  font-size: 24px;
}

p {
  font-family: var(--second-font-family);
  font-weight: 300;
  line-height: 20px;
  opacity: 0.9;
}

.title {
  font-family: var(--second-font-family);
  font-size: 40px;
}
.icon-color {
  color: var(--second-color);
  font-size: 40px;
}
.contact {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background: var(--first-color);
  box-shadow: 5px 5px 5px 5px rgb(193, 188, 188);
}
.contact i {
  transition: var(--transition);
  margin: 5px;
}
.contact i:hover {
  transform: scale(1.5);
}
.container-page {
  margin-top: 0px;
  background: #e5e5e5;
}

.title-projects {
  color: black;
  text-align: center;
  font-size: 50px;
  padding: 10px 20px;
}
.sorce-code {
  font-family: var(--second-font-family);
  text-align: center;
  padding: 15px 20px;
}

.personal-image {
  margin-top: 80px;
  box-shadow: 5px 5px 5px rgb(193, 188, 188);
  background: var(--first-color);
  padding: 25px;
  height: 400px;
  width: 400px;
}
.about-me {
  margin-top: 90px;
  line-height: 30px;
}

.first-class {
  background-image: linear-gradient(#fff1eb 0%, #ace0f9 100%);
  background-size: cover;
}
.work-page {
  margin-top: 35px;
}
.weather-image:hover {
  background-color: aliceblue;
}
.all-pages {
  background: #eff0f5;
  border-radius: 10px;
  height: 200px;
}

.contact-title {
  color: #264c6e;
  font-size: 80px;
  padding: 110px 0 0px;
}
.contact-subtitle {
  padding: 15px 5px 45px;
  font-size: 55px;
  font-weight: 400;
}
.button-send {
  margin: 15px auto;
  display: block;
}
.girl-photo {
  margin-top: 100px;
  width: 900px;
}

.button-contact,
.project-button,
button {
  transition: var(--transition);
}
.button-contact {
  border: 1px solid var(--third-color);
  border-radius: 5px;
  background: var(--third-color);
  padding: 15px 25px;
  color: var(--first-color);
  margin-top: 80px;
  font-size: 20px;
}
.button-contact:hover {
  background: var(--first-color);
  color: var(--third-color);
}
button {
  font-family: var(--second-font-family);
  border: 1px solid var(--second-color);
  border-radius: 25px;
  background: var(--first-color);
  color: var(--second-color);
  padding: 15px 25px;
  margin-left: 55px;
  font-size: 25px;
}
button:hover {
  color: var(--first-color);
  background: var(--second-color);
  transform: scale(1.1);
}
.project-button {
  padding: 15px 25px;
  border-radius: 25px;
  background: var(--primary-color);
  color: var(--first-color);
}
.project-button:hover {
  background: var(--first-color);
  color: var(--primary-color);
}
img {
  transition: var(--transform);
}
img:hover {
  transform: var(--transform);
}
a {
  text-decoration: none;
}
.first-page {
  z-index: 1;
  background-image: linear-gradient(
    -25deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );

  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 5s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (max-width: 1020px) {
  h1 {
    font-size: 45px;
  }
  h2,
  h3 {
    font-size: 20px;
  }
  .first-page {
    height: 250px;
  }
  .title-projects {
    font-size: 25px;
  }
  button {
    font-size: 15px;
  }
  button.contact {
    padding: 10px;
  }
  .title,
  .icon-color {
    font-size: 25px;
  }
  .icon-color,
  .about-me,
  .contact-title,
  .contact-subtitle {
    text-align: center;
  }
  p {
    line-height: 25px;
  }
  .about-me {
    margin-top: 60px;
  }
  .personal-image {
    margin: 70px auto 0px;
  }
  .project-button,
  .button-contact,
  .personal-image {
    display: block;
  }
  .project-button {
    padding: 15px;
  }
  .all-pages {
    padding: 5px;
  }
  .contact-inf {
    height: 600px;
  }
  .contact-title {
    font-size: 50px;
  }
  .contact-subtitle {
    font-size: 40px;
  }
  .button-contact,
  .project-button {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  .personal-info {
    margin-top: 55px;
    height: 1125px;
  }
  .work-page {
    padding-top: 50px;
  }
}
